h1 {
  margin: 0 0 30px;
  padding: 20px 550px 20px 20px;
  background: #f0f0fa;
  border-bottom: 1px solid #bbb;
  color: #282832;
}

h2 {
  margin-top: 60px;
  text-align: left;
}

div.floatBox {
  width: 250px;
  display: inline-block;
  background: #dedee8;
  border-radius: 7px;
  border: 1px solid #bbb;
  margin: 10px;
}

div.floatBox h2 {
  text-align:center;
  color: #444;
  text-shadow:1px 1px #999;
  margin: .4em;
}

div.floatBox textarea {
  width:90%;
  font-size: 1.5em;
  height: 12.45em;
  font-family: "arial", serif;
  color: #444;
  background: #fefefe url("../image/line.png") local;
  background-size: 1px 1.6em ;
  opacity: .9;
  line-height: 1.6em;
}

#output {
  clear:both;
  width: 400px;
  margin: 10px auto;
  text-align: center;
}

div.floatBox textarea:focus {
  color:#111;
  outline: 0;
  border-color: #9E3A3D;
  background-color:#fff;
  opacity: 1;
}

div.floatBox button {
  display: inline-block;
  border-collapse: collapse;
  margin:6px 16px;
  height: 2em;
}

#output textarea {
  width: 400px;
  height: 2em;
}

body {
  background-color: #fdfdfd;
  text-align: center;
  margin: 0 auto;
  font-family: arial, serif;
}
